.product-card {
  max-width: 420px;

  @media screen and (max-width: 768px) {
    max-width: 80%;
    margin: 0 auto;
  }

  @media screen and (max-width: 480px) {
    max-width: 100%;
  }
}

.product__image {
  display: none;
  padding: 15px 15px 0;
  text-align: center;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.product-card__description {
  background: $product-description-background;
  color: $white;
  font-size: 1.25em;
  padding: 15px;
}

.product-card__pros {
  background: $product-price-background;
  color: $grey-text;
  font-size: 0.875em;
  padding: 15px;

  ul {
    li {
      list-style: none;
    }
  }
}

.price {
  background: $product-price-background;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.price__ico {
  margin-right: 20px;
}

.price__info {
  color: $grey-text;
}

.price__info-main {
  font-size: 1.875em;
}

.price__info-additional {
  text-decoration: line-through;
}
