$background: #30353b;
$logo-background: #e3e3e4;
$button-warning: #ff7607;
$button-text: #ffffff;
$white: #ffffff;
$product-description-background: #30353b;
$product-price-background: #f0f1f2;
$grey-text: #535c65;
$footer-text-color: #cccccc;
