@import "./fonts";
@import "./variables";
@import "./pure-override";
@import "./layout";
@import "./header";
@import "./elements";
@import "./modal";
@import "./product-card";
@import "./button";
@import "./footer";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

body {
  background: $background;
  font-family: "FiraSans-Regular", fallback, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

body * {
  box-sizing: border-box;
}

.hidden {
  display: none;
}
